#header {
    position: absolute;
    width: 220px;
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #header .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: 500;
    line-height: 16.5px;
    font-size: 11px;
    letter-spacing: .5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-color: #109CF1;
  }
  #header .logo {
    padding: 20px;
  }
  
   .header{
    position: absolute;
    left: 17.78%;
    right: 0%;
    top: 1%;
    bottom: 94.14%;
    width: 82%;
    
  }
.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .header__input {
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    width: 80%;
    background-color: #F4F0FA;
    border-radius: .25rem;
    padding: .70rem .75rem;
    border: none;
    outline: none;
  }
  .header__image{
    position: relative;
    padding: 2px 10px;
    right: -5%;
  }
  .username{
    font-size: 14px;
    padding: 2px 20px;
  }
  img{
    width: 50px;
    height: 47px;
    border-radius: 50%;
  }
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }