* {
  margin: 0;
}
.register {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register_container {
  border: 3px solid white;
  margin-top: 10%;
  padding: 5%;
  background: linear-gradient(0deg, black, rgb(44, 44, 44));
}
